html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

main {
}

header {
  background-color: var(--dark);
}

.main-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  color: #46494c;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.text-xs {
  font-size: .5rem;
}

.text-sm {
  font-size: .75rem;
}

.margin-btm-md {
  margin-bottom: .75rem;
}

.margin-btm-lg {
  margin-bottom: 1.5rem;
}

.margin-sm {
  margin: .5rem 0;
}

.margin-md {
  margin: .75rem 0;
}

.margin-lg {
  margin: 1.5rem 0;
}

.no-margin {
  margin: 0 !important;
}

.padded-md {
  padding: 1rem;
}


/* Topics */

.python {
  background-color: #204564;
  color: #fff;
}

.js {
  background-color: #f0da4f;
  color: #424242;
}

.ds {
  background-color: #dea010;
  color: #424242;
}

.algo {
  background-color: #6e808a;
  color: #fff;
}

.java {
  background-color: #4caf50;
  color: #fff;
}